.jumbotron{
  background: url('jumboBack.jpeg');
  background-size: cover;
  height: 94vh;
  width: 100vw;
  overflow: hidden;
  margin-bottom: 0px;
}

.container{
  margin: 0px;
  padding: 0px;
}

h2{
  position: absolute;
  top: 450px;
  left: 600px;
}

p{
  position: absolute;
  top: 550px;
  left: 555px;
}
